Repository brad-jones/asdf-bootstrap: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt, test

lint:
  run: shellcheck {staged_files}

fmt:
  run: shfmt -l -w {staged_files} && git add {staged_files}

test:
  run: echo {staged_files} >/dev/null && bats ./tests

build(lefthook): remove pre-push hook we are not using it
  .hooks/pre-push
Due: lint, fmt

test(bats): use the bash compat syntax
  .vscode/settings.json
  lefthook.yml
  tests/foo.bats
Due: none

chore(gitmessagetpl): make it work better with commitlint
  .gitmessagetpl
Due: none

build(lefthook): make the tests run when they change
  lefthook.yml
Due: none

test: added a series of initial unit tests
  .gitignore
  .gitmodules
  Taskfile.yml
  lefthook.yml
  tests/foo.bats
  tests/unit_tests.bats
Due: none

build(lefthook): apply this logic https://stackoverflow.com/a/26911078
  lefthook.yml
Due: none

chore(bootstrap): remove unused function
  task
Due: lint, fmt, test

fix(get_checksum_of_dir): generate the same hash for the same content
  .tool-versions.lock
  task
Due: lint, fmt, test

ci: add initial pipeline config
  .github/dependabot.yml
  .github/mergify.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

ci(release): debugging tar version
  .github/workflows/release.yml
Due: none

fix: make use of our new hashdir cli tool
  .tool-versions.lock
  task
  tests/unit_tests.bats
Due: lint, fmt, test

chore: remove submodules
  .gitmodules
Due: none

chore: re-add submodules
  .gitmodules
Due: none

chore(wip): remove sha512sum requirement
  .github/workflows/release.yml
  Taskfile.yml
  task
Due: lint, fmt, test

chore(wip): lock per os and arch
  .tool-versions.lock
  task
  tests/unit_tests.bats
Due: lint, fmt, test

chore(wip): log hashdir instal
  task
Due: lint, fmt, test

chore(wip): move hashdir instal
  task
Due: lint, fmt, test

chore(wip): formatting fix
  task
Due: lint, fmt, test

chore(wip): fix fior macos
  tests/unit_tests.bats
Due: none

chore(wip): fix for macos
  tests/unit_tests.bats
Due: none

chore(wip): add mocos hashes
  .tool-versions.lock
Due: none

chore: bump node packages
  package-lock.json
  package.json
Due: none

chore: bump all versions
  .asdf/.plugin-versions
  .tool-versions
  .tool-versions.lock
  task
Due: lint, fmt, test

ci: reuse gha workflows
  .github/workflows/checks.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

ci: fix commitlint
  .github/workflows/checks.yml
Due: none

ci: fix gha
  .github/workflows/release.yml
Due: none

ci: move if logic
  .github/workflows/checks.yml
  .github/workflows/release.yml
Due: none

ci: turn off mergify for now
  .github/mergify.yml.off
  .github/workflows/pull-request.yml
Due: none

chore: lock macos tool versions
  .tool-versions.lock
Due: none

ci: use bot
  .github/workflows/release.yml
Due: none

ci: debugging stuff
  .github/workflows/pull-request.yml
Due: none

ci: but this fails
  .github/workflows/pull-request.yml
Due: none

chore(wip): various updates
  .asdf/.plugin-versions
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .gitignore
  .tool-versions
  .tool-versions.lock
  .vscode/settings.json
  Taskfile.yml
  lefthook.yml
Due: none

chore(wip): opps fix up ref
  .github/workflows/pull-request.yml
Due: none

chore(wip): reached ratelimit I think
  .github/workflows/checks.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
Due: none

chore(wip): is it now cache casuing me grief
  .github/workflows/checks.yml
Due: none

chore(wip): fix cache maybe
  .github/workflows/checks.yml
  .github/workflows/publish.yml
Due: none

chore(wip): cache was overwrighting plugin versions
  .github/workflows/checks.yml
  .github/workflows/publish.yml
Due: none

chore(wip): try a composit action
  .github/actions/publish/action.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  lint: any of: {task,.hooks/*,*.{sh,bash}}
  fmt: any of: {task,.hooks/*,*.{sh,bash}}
  test: any of: task
